<div class="main-container">

  <div class="left-section" style="width: 40%; float: left; padding-right: 20px;">

    <div class="avatar-container">

      <div class="info-img">
        <img class="user-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvi7HpQ-_PMSMOFrj1hwjp6LDcI-jm3Ro0Xw&s" alt="user image">
      </div>

      <div class="info-user">
        <p><strong><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></strong></p>
        <p><%= @user.email %></p>
        <%= button_to "Add new flat", new_flat_path, method: :get, class: "btn btn-outline-primary" %>
      </div>

    </div>

  </div>


  <div class="right-section" style="width: 55%; float: left;">
    <div class="future-booking-container">
      <h3>Future Bookings</h3>
      <ul>
        <% @bookings.each do |booking| %>
          <% if booking.start_date >= Date.today %>
            <li><strong><%= booking.flat.title %></strong> from <%= booking.start_date.strftime("%d-%m-%Y") %> to <%= booking.end_date.strftime("%d-%m-%Y") %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="past-booking-container">
      <h3>Past Bookings</h3>
      <ul>
        <% @bookings.each do |booking| %>
          <% if booking.end_date < Date.today %>
            <li><strong><%= booking.flat.title %></strong> from <%= booking.start_date.strftime("%d-%m-%Y") %> to <%= booking.end_date.strftime("%d-%m-%Y") %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="my-flats-container">
      <h3>My Flats</h3>
      <div class="my-flats-list">
        <% @user.flats.each do |flat| %>
          <div class="flat-card position-relative">
            <%= link_to flat_path(flat), class: "stretched-link", style: "position: absolute; inset: 0; z-index: 1;" do %>
            <% end %>
            <%= flat.title %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 <div style="clear: both;"></div>
</div>
