
<h1>Welcome to Airbnb</h1>
<h2>Find your perfect place to stay</h2>

<div class="container mt-5">
  <form action="/" method="get" class="input-group">
    <input type="text" name="search" placeholder="What are you looking for?"
           value="<%= params[:search] %>" class="form-control">
    <button type="submit" class="btn btn-danger">Search</button>
  </form>
</div>

<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
          <% if flat.pictures.attached?  %>
            <%= cl_image_tag flat.pictures.first.key, width: 200, height: 200, crop: :fill %>

          <% end %>
            <h5 class="card-title"><%= link_to flat.title, flat_path(flat) %></h5>
            <p class="card-text"><%= flat.description.truncate(100) %></p>
            <%= link_to "Delete", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
