<div class="hero-banner">
  <div class="hero-overlay">
    <h1 class="text-white text-center hero-title">Find Your Perfect Stay</h1>
    <p class="text-white text-center hero-subtitle">Discover unique homes and experiences all around the world</p>

    <!-- Search Bar -->
    <div class="search-container">
      <form action="/" method="get" class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search by title, description, or address..." value="<%= params[:search] %>">
        <button type="submit" class="btn btn-danger">Search</button>
      </form>
    </div>
  </div>
</div>

<!-- Listings -->
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 d-flex">
        <%= link_to flat_path(flat), class: "text-decoration-none text-dark", data: { turbo: false } do %>
          <div class="card mb-3 fixed-height-card">
            <%= image_tag(flat.image_url, class: "card-img-top fixed-image", alt: flat.title) if flat.image_url.present? %>
            <% if flat.pictures.attached?  %>
             <%= cl_image_tag flat.pictures.first.key, width: 200, height: 200, crop: :fill %>
            <% end %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= link_to flat.title, flat_path(flat) %></h5>
              <p class="card-text text-muted flex-grow-1"><%= flat.description.truncate(100) %></p>
              <%= link_to "Delete", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
