<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
  <div class="container-fluid">

      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://download.logo.wine/logo/Airbnb/Airbnb-Logo.wine.png", alt: "Airbnb Logo", class: "navbar-logo" %>
    <% end %>


    <div class="d-flex align-items-center ms-auto">

      <%= link_to (user_signed_in? ? user_path(current_user) : new_user_session_path), class: "btn btn-outline-dark me-3" do %>
        <i class="fas fa-user-circle fa-2x"></i>
      <% end %>

      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-dark", form: { data: { turbo: false } } %>
      <% end %>

    </div>

  </div>
</nav>

  <!-- Page Content -->
  <div class="container mt-4">
    <%= yield %>
  </div>

  <!-- Footer -->
  <footer class="text-center p-4 bg-light mt-5">
    <p>&copy; 2025 Airbnb</p>
    <p>by Mario, Sara and Adam :P</p>
  </footer>

</body>
</html>
